@import "variables";

.filters {
  padding: 1rem;
  max-width: 30rem;
  border-right: 2px solid @light-grey;

  &__section {
    margin-bottom: 1rem;
  }

  &__header {
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.1rem;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    font-size: 0.9rem;

    input {
      margin-right: 0.5em;
      accent-color: @primary-color;
    }
  }

  &__reset-button {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-top: 1em;
    background-color: @primary-color;
    color: @white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;

    &:hover {
      background-color: darken(@primary-color, 10%);
    }
  }

  &__error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 1em;
  }

  &__types, &__colors {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.4rem;
  }
}

@media (min-width: 768px) {
  .filters {
    &__types, &__colors {
      grid-template-columns: 1fr 1fr;
    }
  }
}
