@import "variables";

.header {
  background-color: @primary-color;
  
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    max-width: 1140px;
    margin: 0 auto;

    &__logo {
      height: 50px;
    }
  
    &__search {
      flex-grow: 1;
      padding: 0.5em;
      margin-left: 1em;
      max-width: 12rem;
      font-size: 1rem;
      border-radius: .5rem;
      border: 1px solid @primary-color;
      outline: none;

      &:focus,
      &:active {
        border: 1px solid darken(@primary-color, 20%);
      }
    }
  }
}
