@import "variables";

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pokemon-list {
  padding: 2rem;

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
    gap: 1rem;
  }

  &__card {
    padding: 1rem;
    border: 1px solid @primary-color;
    border-radius: .4rem;
    text-align: center;
    font-size: 1.5rem;

    img {
      min-height: 120px;
    }
  }

  &__load-more {
    margin: 1em auto;
    display: none;
    padding: 0.5em 1em;
    font-size: 1rem;
    background-color: @primary-color;
    color: @white;
    border: none;
    border-radius: .5rem;
    cursor: pointer;

    &:hover {
      background-color: darken(@primary-color, 10%);
    }
  }
}
